#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MAIN 0
#define NUM  1
#define SYM  2
#define HOLD 3

#define ASTR KP_ASTERISK

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        MAIN_layer {
            bindings = <
    &kp Q       &kp W      &kp F       &kp P      &kp B       &kp J &kp L      &kp U       &kp Y      &kp SQT
    &mt LCTRL A &mt LALT R &mt LSHFT S &mt LGUI T &kp G       &kp M &mt RGUI N &mt RSHFT E &mt RALT I &mt RCTRL O
    &kp Z       &kp X      &kp C       &kp D      &kp V       &kp K &kp H      &kp COMMA   &kp DOT    &kp FSLH
             &lt NUM TAB   &lt SYM SPACE   &lt HOLD ESC       &lt HOLD DEL   &lt SYM RET   &lt NUM BSPC
            >;
        };

        NOMOD_layer {
            bindings = <
    &kp Q &kp W &kp F &kp P &kp B     &kp J &kp L &kp U &kp Y &kp SQT
    &kp A &kp R &kp S &kp T &kp G     &kp M &kp N &kp E &kp I &kp O
    &kp Z &kp X &kp C &kp D &kp V     &kp K &kp H &kp COMMA &kp DOT &kp FSLH
    &kp TAB kp SPACE &lt HOLD ESC     &lt HOLD DEL &kp RET &kp BSPC
            >;
        };

        NUM_layer {
            bindings = <
    &kp HOME &kp PG_UP  &kp PG_DN    &kp END      &kp GRAVE   &kp LBRC  &kp N7    &kp N8    &kp N9    &kp EQUAL
    &kp LEFT &kp UP     &kp DOWN     &kp RIGHT    &kp BSLH    &kp LPAR  &kp N4    &kp N5    &kp N6    &kp MINUS
    &none    &kp K_MUTE &kp K_VOL_DN &kp K_VOL_UP &none       &kp LBKT  &kp N1    &kp N2    &kp N3    &kp SEMI
                        &trans       &trans    &to MAIN       &to MAIN  &trans    &kp N0
            >;
        };

        SYM_layer {
            bindings = <
    &kp F10 &kp F7   &kp F8   &kp F9   &kp TILDE     &kp RBRC   &kp AMPS   &kp ASTR   &kp LPAR  &kp PLUS    
    &kp F11 &kp F4   &kp F5   &kp F6   &kp PIPE      &kp RPAR   &kp DLLR   &kp PRCNT  &kp CARET &kp UNDER
    &kp F12 &kp F1   &kp F2   &kp F3   &none         &kp RBKT   &kp EXCL   &kp AT     &kp HASH  &kp COLON
                     &trans   &trans   &to MAIN      &to MAIN   &trans   &trans
            >;
        };

        HOLD_layer {
            bindings = <
    &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &bt BT_CLR &kp LS(LA(LC(J))) &kp LS(LA(LC(L))) &kp LS(LA(LC(U)))     &kp LS(LA(LC(Y)))   &kp LS(LA(LC(SQT)))
    &none &none &none &tog NOMOD &none                                  &kp LS(LA(LC(M))) &kp LS(LA(LC(N))) &kp LS(LA(LC(E)))     &kp LS(LA(LC(I)))   &kp LS(LA(LC(O)))
    &none &none &none &none &none                                  &kp LS(LA(LC(K))) &kp LS(LA(LC(H))) &kp LS(LA(LC(COMMA))) &kp LS(LA(LC(DOT))) &kp LS(LA(LC(FSLH)))
            &to NUM &to SYM &none                                  &none &to SYM &to NUM
            >;
        };
    };
};
